plugins {
	kotlin("jvm") version "2.4.20"
	id("io.github.ayfri.kore") version "2.14.0-26.2"
}

dependencies {
	implementation("io.github.ayfri.kore:kore:2.14.0-26.2")
}

kore {
	mainClass = "com.example.MainKt"
}
